# Daily Task - June 18, 2024

### Ques. 1 : You have a list of your favorite Marvel superheroes. <br> heroes=['spider man','thor','hulk','iron man','captain america'] Using this list,
    a. Find Length of the list
    b. Add 'black panther' at the end of this list.
    c. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.
    d. Now you don't like thor and hulk because they get angry easily ðŸ™‚. So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).Do that with one line of code.
    e. Sort the list in alphabetical order.

In [45]:
# a. Find Length of the list

heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

listLength = len(heroes)
print("Length of the list :", listLength)

Length of the list : 5

In [55]:
# b. Add 'black panther' at the end of this list.

heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']
print(heroes)
heroes.append('black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [63]:
# c. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'.

heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
print(heroes)
heroes.remove('black panther')
heroes.insert(3, 'black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [65]:
# d. Now you don't like thor and hulk because they get angry easily ðŸ™‚.
# So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).
# Do that with one line of code.

heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
print(heroes)
heroes[1:3] = ['Doctor Strange']
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'Doctor Strange', 'iron man', 'captain america', 'black panther']

In [74]:
# e. Sort the list in alphabetical order.

heroes = ['spider man', 'Doctor Strange', 'iron man', 'captain america', 'black panther']
print(heroes)
heroes.sort()
print(heroes)

['spider man', 'Doctor Strange', 'iron man', 'captain america', 'black panther']
['Doctor Strange', 'black panther', 'captain america', 'iron man', 'spider man']

### Ques. 2 : Let us say your expense for every month are listed below,
##### January -  2200 <br> <br> February - 2350 <br> <br> March - 2600 <br> <br> April - 2130 <br> <br> May - 2190
    a. Create a list to store the above monthly expenses and using that find out, in Feb, how many dollars you spent extra compared to January?
    b. Find out your total expense in the first quarter (first three months) of the year.
    c. Find out if you spent exactly 2000 dollars in any month.
    d. Say, June month just finished and your expense is 1980 dollars. Add this item to our monthly expense list.
    e. You returned an item that you bought in the month of April and got a refund of 200$. Make a correction to your monthly expense list based on this.

In [87]:
# a. Create a list to store the above monthly expenses and using that find out,
# in Feb, how many dollars you spent extra compared to January?

expenses = [2200, 2350, 2600, 2130, 2190]

febExpenses = expenses[1] - expenses[0]
print("Extra expenses as compared to january :", febExpenses)

Extra expenses as compared to january : 150

In [91]:
# b. Find out your total expense in the first quarter (first three months) of the year.

expenses = [2200, 2350, 2600, 2130, 2190]

firstQuarterExpenses = sum(expenses[:3])
print("Total expenses of first quarter is :", firstQuarterExpenses)

Total expenses of first quarter is : 7150

In [93]:
# c. Find out if you spent exactly 2000 dollars in any month.

expenses = [2200, 2350, 2600, 2130, 2190]

findExpenses = 2000 in expenses
print(findExpenses)

False

In [95]:
# d. Say, June month just finished and your expense is 1980 dollars. Add this item to our monthly expense list.

expenses = [2200, 2350, 2600, 2130, 2190]

expenses.append(1980)
print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

In [107]:
# e. You returned an item that you bought in the month of April and got a refund of $200.
# Make a correction to your monthly expense list based on this.

expenses = [2200, 2350, 2600, 2130, 2190, 1980]

expenses[3] -= 200
print(expenses)

[2200, 2350, 2600, 1930, 2190, 1980]

### Ques. 3 :

    a. Write a program to add item 7000 after 6000 in the following Python List:
        - list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
    b. Now that you have a nested list from the above output. Write a program to extend it by adding a sublist ["h", "i", "j"] in such a way that output will look like the following list below.
    
##### Expected Output : [10, 20, [300, 400, [5000, 6000, 7000,"h", "i", "j"], 500], 30, 40]

In [101]:
# a. Write a program to add item 7000 after 6000 in the following Python List:
# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [105]:
# b. Now that you have a nested list from the above output.
# Write a program to extend it by adding a sublist ["h", "i", "j"] in such a way that,
# The output will look like the following list below.
#
# Expected Output : [10, 20, [300, 400, [5000, 6000, 7000,"h", "i", "j"], 500], 30, 40]

list1 = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1[2][2].extend(["h", "i", "j"])
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000, 'h', 'i', 'j'], 500], 30, 40]