# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1, 2, 3, 4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 

nums = [1, 2, 3, 4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [3]:
# Method 2

nums = [1, 2, 3, 4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [4]:
# Method 3

nums = [1, 2, 3, 4]
index = nums.index(3)
nums = nums[:index] + nums[index + 1:]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [5]:
# Method 1

lst = [2, 3, 4]
lst.insert(0, 1)
print(lst)

# Method 2

# lst = [2, 3, 4]
# new_lst = [1]

# for i in range(len(lst)):
#     new_lst.append(lst[i])
#     i = i + 1
    
# lst = new_lst
# print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [6]:
# CODE HERE

lst = [1, 2, 3, 4]
lst.insert(2, 'two-and-half')
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [7]:
# CODE HERE

phrase = "Don't panic!"
char_list = list(phrase)
print(char_list)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [8]:
# CODE HERE

phrase = "Don't panic!"
char_list = list(phrase)
char_list.remove("'")
char_list.remove("!")
print(char_list)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [9]:
# CODE HERE

phrase = "Don't panic!"
char_list = list(phrase)
char_list.remove("'")
char_list.remove("!")
char_list.remove("p")
char_list.remove("a")
char_list.pop(5)
char_list.remove("D")
char_list.extend(["p", "a", "n", "D"])
print(char_list)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [10]:
# CODE HERE

joined_str = ''.join(['p', 'a', 'n', 'D', 'a'])
print(f"'{joined_str}'")

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [11]:
# CODE HERE

nums_tuple = (31, 24, 35, 85)
print("data type", type(nums_tuple))
print(nums_tuple)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [12]:
# CODE HERE

nums_tuple = (31, 24, 35, 85)
lst = list(nums_tuple)
lst.pop(2)
nums_tuple = tuple(lst)
print(nums_tuple)

(31, 24, 85)

**Extent** tuple (85,19)

In [13]:
# CODE HERE

nums_tuple = nums_tuple + (85, 19)
print(nums_tuple)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [14]:
# CODE HERE

tpl = ('i', 'n', '', 'n', '0')
print('i' in tpl)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [15]:
# CODE HERE

my_list = ['Hello', 100, [], 'innomatics']
my_list[2] = [200]
print(my_list)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [16]:
# CODE HERE

tpl = ("Innomatics")
reversed_tpl = tpl[::-1]
print(tuple(reversed_tpl))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [17]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [18]:
# CODE HERE

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl = [tpl + (100,) for tpl in tpl]
print(tpl)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [19]:
# CODE HERE

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl = [tpl[:-1] + (100,) for tpl in tpl]
print(tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [20]:
# CODE HERE

numbers = list(map(int, "5 2 3 6 6 5".split()))
unique_numbers = set(numbers)
unique_numbers.remove(max(unique_numbers))
second_highest = max(unique_numbers)
print("5 2 4 6 2 2")
print(f"Second highest value: {second_highest}")

5 2 4 6 2 2
Second highest value: 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [21]:
# CODE HERE

# Method 1

numbers = [12, 24, 35, 70, 88, 120, 155]
filtered_numbers = [num for idx, num in enumerate(numbers) if idx not in [0, 4, 5]]
print(filtered_numbers)

# Method 2

# numbers = [12, 24, 35, 70, 88, 120, 155]
# filtered_numbers = []

# for idx in range(len(numbers)):
#     if idx not in [0, 4, 5]:
#         filtered_numbers.append(numbers[idx])

# print(filtered_numbers)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [22]:
# CODE HERE

tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
half_idx = len(tpl) // 2
first_half = tpl[:half_idx]
last_half = tpl[half_idx:]
print(first_half, last_half)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [23]:
# CODE HERE

# Method 1

tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
even_tpl = tuple(num for num in tpl if num % 2 == 0)
print(even_tpl)

# Method 2

# tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# even_list = []

# for num in tpl:
#     if num % 2 == 0:
#         even_list.append(num)

# even_tpl = tuple(even_list)
# print(even_tpl)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution

List: Mutable (can be modified after creation), uses square brackets [].

Tuple: Immutable (cannot be modified after creation), uses parentheses ().

### 2. Explain the difference between append() and extend() with examples

In [24]:
# Solution

print("append(): Adds its argument as a single element to the end of a list.")

print("Example :")
my_list = [1, 2, 3]
my_list.append([4, 5])
print(my_list)

print()

print("extend(): Iterates over its argument adding each element to the list, extending the list.")

print("Example :")
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

append(): Adds its argument as a single element to the end of a list.
Example :
[1, 2, 3, [4, 5]]

extend(): Iterates over its argument adding each element to the list, extending the list.
Example :
[1, 2, 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

In [25]:
# Solution

print("pop(): Removes and returns the last item from the list.")

print("Example :")
my_list = [1, 2, 3]
last_item = my_list.pop()
print(my_list)
print(last_item)

print()

print("remove(): Removes the first item from the list whose value is equal to x.")

print("Example :")
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)

pop(): Removes and returns the last item from the list.
Example :
[1, 2]
3

remove(): Removes the first item from the list whose value is equal to x.
Example :
[1, 3, 2]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)