# Daily Task - June 20, 2024

### Ques. 1 :
    a. Update the first set with items that don't exist in the second set.
        - s1={150,200,400}
        - s2={200,750,650}
        - Expected output: s1={150,400}
    b. Access value 20 from the tuple :
        - tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [28]:
# a. Update the first set with items that don't exist in the second set.
    # - s1={150,200,400}
    # - s2={200,750,650}
    # - Expected output: s1={150,400}

s1 = {150, 200, 400}
s2 = {200, 750, 650}

s1.difference_update(s2)

print(s1)

{400, 150}

In [30]:
# b. Access value 20 from the tuple :
    # - tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

value_20 = tuple1[1][1]

print(value_20)

20

### Ques. 2 : Create a dictionary with key-value pairs for a person's name and age.
    a. Add a new key-value pair "city" with the value "Delhi" to the person dictionary.
    b. Remove the key-value pair with the key "age" from the person dictionary.
    c. Sort the person's dictionary by its keys.

In [43]:
# a. Add a new key-value pair "city" with the value "Delhi" to the person dictionary.

person = {
    "name": "Ram",
    "age": 30
}

person["city"] = "Delhi"

In [45]:
# b. Remove the key-value pair with the key "age" from the person dictionary.

del person["age"]

In [49]:
# c. Sort the person's dictionary by its keys.

# .items() is used in python to pass through all the keys from this .items() function
sorted_person = dict(sorted(person.items()))

print(sorted_person)

{'city': 'Delhi', 'name': 'Ram'}

### Ques. 3 :
    a. Remove empty strings from the list of strings.
        - list3 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
    b. Reverse the above list.

In [51]:
# a. Remove empty strings from the list of strings.
    # - list3 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

list3 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# List Comprehension to remove empty strings
list3 = [string for string in list3 if string]

print(list3)

['Mike', 'Emma', 'Kelly', 'Brad']

In [58]:
# b. Reverse the above list.

list3.reverse()

print(list3)

['Brad', 'Kelly', 'Emma', 'Mike']

### Ques. 4 : Construct a set1 using range () with elements from 500 to 700 elements inside it
    a. Remove element 1000 such that it doesn’t throw an error in output.
    b. Add elements from 750 to 850 in the set.
    c. Say, set2={600,745,824,580}. Perform all set operations.

In [62]:
# a. Remove element 1000 such that it doesn’t throw an error in output.

set1 = set(range(500, 701))

set1.discard(1000)

print(set1)

{512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511}

In [64]:
# b. Add elements from 750 to 850 in the set.

set1.update(range(750, 851))

print(set1)

{512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511}

In [87]:
# c. Say, set2={600,745,824,580}. Perform all set operations.

set2 = {600, 745, 824, 580}

union_set = set1.union(set2)
print()
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print()
print("Intersection:", intersection_set)

difference_set = set1.difference(set2)
print()
print("Difference:", difference_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print()
print("Symmetric Difference:", symmetric_difference_set)

Union: {500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 745, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850}

Intersection: {600, 824, 580}

Difference: {500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850}

Symmetric Difference: {512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 745, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511}

### Ques. 5 :
    a. You have given a Python list below. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of the item.
        - list1 = [5, 10, 15, 20, 25, 50, 20]
    b. tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [89]:
# a. You have given a Python list below. Write a program to find value 20 in the list, and if it is present,
# replace it with 200. Only update the first occurrence of the item.
    # - list1 = [5, 10, 15, 20, 25, 50, 20]

list1 = [5, 10, 15, 20, 25, 50, 20]

list1 = list1[:list1.index(20)] + [200] + list1[list1.index(20) + 1:]

# if 20 in list1:
#     index = list1.index(20)
#     list1[index] = 200

print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [97]:
# b. tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

tup = (1, 2, 3, 2, 4, 5, 3, 4, 2)

count_2 = tup.count(2)

print(count_2)

3