# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [58]:
# CODE HERE

person1 = {
    'Gender': 'Male',
    'Location': 'Nizampet, Hyderabad',
    'Name': 'John',
    'Occupation': 'Data Scientist',
}

person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [63]:
# CODE HERE

person1 = {
    'Name': 'John',
    'Gender': 'Male',
    'Occupation': 'Data Scientist',
    'Location': 'Nizampet, Hyderabad',
}

keys_list = list(person1.keys())
print(keys_list)

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [65]:
# CODE HERE

person1 = {
    'Gender': 'Male',
    'Name': 'John',
    'Occupation': 'Data Scientist',
    'Location': 'Nizampet, Hyderabad'
}

person1.pop('Location', None)
person1

# @Mentors plz look into this issue the output mentioned below is wrong and the below output is not possible
# as the Age keyword was not mentioned earlier

# {'Age': 27,
#  'Gender': 'Male',
#  'Name': 'Srikanth',
#  'Occupation': 'Data Scientist'}

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [67]:
# CODE HERE

person2 = {
    'Age': 25,
    'Gender': 'Male',
    'Name': 'Raghu Ram',
    'Occupation': 'Data Scientist'
}

person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [79]:
# CODE HERE

person1 = {
    'Gender': 'Male',
    'Location': 'Nizampet, Hyderabad',
    'Name': 'John',
    'Occupation': 'Data Scientist',
}

person2 = {
    'Age': 25,
    'Gender': 'Male',
    'Name': 'Raghu Ram',
    'Occupation': 'Data Scientist'
}

print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [96]:
# CODE HERE

# Method 1

dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

dict.pop(1)
dict.pop(2)
dict.pop(3)

del dict[4]
del dict[5]

dict = {k: v for k, v in dict.items() if k not in {6, 7}}

print(dict)

# Method 2

# dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

# keys_to_remove = [1, 2, 3, 4, 5, 6, 7]
# for key in keys_to_remove:
#     if key in dict:
#         del dict[key]

# print(dict)

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [100]:
# CODE HERE

dict = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted_values = sorted(dict.values(), reverse=True)
print(sorted_values)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [102]:
# CODE HERE

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict3 = {'c': 5, 'd': 6}

merged_dict = {**dict1, **dict2, **dict3}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [106]:
# CODE HERE

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [111]:
# CODE HERE

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

history_mark = sampleDict['class']['student']['marks']['history']
print(history_mark)

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [131]:
# CODE HERE

person = {
    'Gender': 'Male',
    'Location': 'Nizampet, Hyderabad',
    'Name': 'John',
    'Occupation': 'Data Scientist',
}

person['Area'] = person.pop('Location')

person = {
    'Gender': person['Gender'],
    'Area': person['Area'],
    'Name': person['Name'],
    'Occupation': person['Occupation']
}

person

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [163]:
database = {'ram': 1234, 'raghu': 5678, 'kanav': 1357}

def check_credentials(username, password):
    username = username.lower()
    if username in database and database[username] == password:
        print(f"Hello {username}")
        return True
    else:
        return False

def prompt_add_to_db(username, password):
    add_to_db = input("Credentials do not match. Do you want me to add this into the database? (yes/no): ")
    if add_to_db.lower() == 'yes':
        username = username.lower()
        database[username] = password
        print("Credentials added to the database.")
    else:
        print("Database remains unchanged.")

def show_database():
    print("Current Database:")
    for user, pwd in database.items():
        print(f"Username: {user}, Password: {pwd}")

def main():
    username = input("Enter username: ")
    password = int(input("Enter password: "))

    if check_credentials(username, password):
        show_database()
    else:
        prompt_add_to_db(username, password)
        if check_credentials(username, password):
            show_database()

main()

Enter username:  RAGHU
Enter password:  5678

Hello raghu
Current Database:
Username: ram, Password: 1234
Username: raghu, Password: 5678
Username: kanav, Password: 1357

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)